body {
	background: #1f2021;
}
/* navbar text */
html {
	scroll-behavior: smooth;
	background-color: #1f20;
}

.navtext {
	color: white;
}
/* landing background */
.land {
	background-image: url("./photos/wallpaper.png");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
/* block */
.block:not(:last-child) {
	margin-bottom: 1.5rem;
}
/* text */
.textind {
	color: white;
	font-size: xxx-large;
	font-family: "Bebas Neue ";
	line-height: normal;
}
.titlename {
	font-size: xxx-large;
	color: rgba(255, 255, 255, 0.888);
	font-family: "Bebas Neue ";
}

.headingtext {
	font-size: xx-large;
	color: rgb(171, 171, 171);
	font-family: "Aboreto";
}
/* start about */
/* columns in body */
.bcol {
	margin-left: 2rem;
	margin-right: 2rem;
	padding-left: 1rem;
	padding-right: 1rem;
}
.btext {
	color: white;
	font-size: larger;
	font-family: "Quantico";
	line-height: normal;
}
.stext {
	color: rgb(179, 179, 179);
}
/* buttons */
.twitter {
	background-color: rgba(255, 255, 255, 0.481);
	color: white;
}
.social_set {
	margin-left: 25%;
	margin-right: 25%;
	align-items: center;
	justify-content: space-between;
}
.smallbtn {
	width: 25%;
}

/* icons */
.fsc {
	color: #00acee;
}

.mainimage {
	width: 300px;
}

.bkgf {
	background-image: url("./photos/footer.png");
	background-repeat: no-repeat;
	height: fit-content;
	background-size: cover;
}

/* contact styles start */

/* navbar text */
.navtext {
	color: white;
}

/*.hero{
    background-image: url("./photos/bkgfull.png");
    background-repeat: no-repeat;
    background-size: cover;
}*/
.herotext {
	color: rgba(255, 255, 255, 0.582);
}

/* contact styles end */
/* about styles start */
.navtext {
	color: white;
}

/*.hero{
    background-image: url("./photos/bkgfull.png");
    background-repeat: no-repeat;
    background-size: cover;
}*/
.herotext {
	color: rgba(255, 255, 255, 0.582);
	font-size: mediums;
}

.imghight {
	height: 10%;
	width: 10%;
}

.my-img {
	width: 300px;
}

/* socialbtm */
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);

#social-platforms {
	position: relative;
	top: 100px;
	top: 25vh;
	font-size: 1rem;
	text-align: center;
	height: 250px;
	overflow: hidden;
}

/*Pen code from this point on*/
.btn {
	clear: both;
	white-space: nowrap;
	font-size: 0.8em;
	display: inline-block;
	border-radius: 5px;
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.35);
	margin: 2px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
	overflow: hidden;
}

.btn:hover {
	box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.45);
}

.btn:focus {
	box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.4);
}

.btn > span,
.btn-icon > i {
	float: left;
	padding: 13px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
	line-height: 1em;
}

.btn > span {
	padding: 14px 18px 16px;
	white-space: nowrap;
	color: #fff;
	background: #b8b8b8;
}

.btn:focus > span {
	background: #9a9a9a;
}

.btn-icon > i {
	border-radius: 5px 0 0 5px;
	position: relative;
	width: 13px;
	text-align: center;
	font-size: 1.25em;
	color: #fff;
	background: #212121;
}

.btn-icon > i:after {
	content: "";
	border: 8px solid;
	border-color: transparent transparent transparent #222;
	position: absolute;
	top: 13px;
	right: -15px;
}

.btn-icon:hover > i,
.btn-icon:focus > i {
	color: #fff;
}

.btn-icon > span {
	border-radius: 0 5px 5px 0;
}

/*Facebook*/
.btn-facebook:hover > i,
.btn-facebook:focus > i {
	color: #3b5998;
}

.btn-facebook > span {
	background: #3b5998;
}

/*Twitter*/
.btn-twitter:hover > i,
.btn-twitter:focus > i {
	color: #55acee;
}

.btn-twitter > span {
	background: #55acee;
}

/*LinkedIn*/
.btn-linkedin:hover > i,
.btn-linkedin:focus > i {
	color: #007bb6;
}

.btn-linkedin > span {
	background: #007bb6;
}

.box{
	width: 80%;
	border-radius: 33mm;
	opacity: 0.65;
}
.contactbkg{
	background-image: url("./photos/contact_im.png");
	background-size: 25%;
	background-repeat: no-repeat;
	background-position-x: right;
	background-position-y: bottom;
}